src/main/java/proxy/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.3 git-revision#a57c222. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice/" name="BankWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice/" schemaLocation="http://localhost:9000/?xsd=1"/>
</xsd:schema>
</types>
<message name="convertFromEuroToMad">
<part name="parameters" element="tns:convertFromEuroToMad"/>
</message>
<message name="convertFromEuroToMadResponse">
<part name="parameters" element="tns:convertFromEuroToMadResponse"/>
</message>
<message name="getAllAccounts">
<part name="parameters" element="tns:getAllAccounts"/>
</message>
<message name="getAllAccountsResponse">
<part name="parameters" element="tns:getAllAccountsResponse"/>
</message>
<message name="getAccountById">
<part name="parameters" element="tns:getAccountById"/>
</message>
<message name="getAccountByIdResponse">
<part name="parameters" element="tns:getAccountByIdResponse"/>
</message>
<portType name="BankService">
<operation name="convertFromEuroToMad">
<input wsam:Action="http://webservice/BankService/convertFromEuroToMadRequest" message="tns:convertFromEuroToMad"/>
<output wsam:Action="http://webservice/BankService/convertFromEuroToMadResponse" message="tns:convertFromEuroToMadResponse"/>
</operation>
<operation name="getAllAccounts">
<input wsam:Action="http://webservice/BankService/getAllAccountsRequest" message="tns:getAllAccounts"/>
<output wsam:Action="http://webservice/BankService/getAllAccountsResponse" message="tns:getAllAccountsResponse"/>
</operation>
<operation name="getAccountById">
<input wsam:Action="http://webservice/BankService/getAccountByIdRequest" message="tns:getAccountById"/>
<output wsam:Action="http://webservice/BankService/getAccountByIdResponse" message="tns:getAccountByIdResponse"/>
</operation>
</portType>
<binding name="BankServicePortBinding" type="tns:BankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="convertFromEuroToMad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAccountById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BankWebService">
<port name="BankServicePort" binding="tns:BankServicePortBinding">
<soap:address location="http://localhost:9000/"/>
</port>
</service>
</definitions>